@import 'nebenan-ui-kit/styles';
@import '../src/**/*.scss';
@import './components/**/*.scss';
@import './containers/**/*.scss';

html {
  background: $color-gray-07;
}

main {
  margin: 10px;

  @media ($media-m) {
    margin: 30px 100px;
  }
}

.preview-section {
  margin-top: 30px;
}

.preview-fancy_image {
  background: $color-purple-00;
}

.c-datepicker-cell.is-selected {
  font-weight: bold;
}

.c-datepicker-cell.is-disabled {
  color: #cfcfcf;
}

.c-datepicker-cell.is-interactive {
  cursor: pointer;
}

.c-datepicker-cell.is-interactive:hover {
  background: #c0c0c0;
}

.c-datepicker-controls-previous,
.c-datepicker-controls-next {
  cursor: pointer;
}

.c-datepicker-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-datepicker {
  width: 200px;
}

.c-datepicker-table {
  width: 100%;
}

.c-datepicker-controls {
  display: flex;
  justify-content: space-between;
}
