.c-datepicker-cell {
  &.is-selected {
    font-weight: bold;
  }

  &.is-disabled {
    color: #cfcfcf;
  }

  &.is-interactive {
    cursor: pointer;

    &:hover {
      background: #c0c0c0;
    }
  }
}

.c-datepicker-controls-previous,
.c-datepicker-controls-next {
  cursor: pointer;
}

.c-datepicker-controls-next::before {
  content: "→";
}

.c-datepicker-controls-previous::before {
  content: "←";
}

.c-datepicker-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-datepicker {
  width: 200px;
}

.c-datepicker-table {
  width: 100%;
}

.c-datepicker-controls {
  display: flex;
  justify-content: space-between;
}
